
a {
	@include transition(all 0.15s ease-in);
	color: $red;
	&:hover {
    	color: $red;
	}
}

.btn {
  display: block;
  padding: 0.8em 2em;
  background: $red;
  border-radius: 7px;
  color: #fff;
  font: $bold 18px/1 $sans;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
  
  &:hover {
    background: $navy;
    color: #fff;
  }
  
  @include bp-min-width($large) {
    display: inline-block;
  }
    
  &.white {
    background: #fff;
    color: $red;
    
    &:hover {
      color: $blue
    }
  }
  
  &.trans-border {
    background: none;
    border: 2px solid #fff;
    
    &:hover {
      background: #fff;
    }
  }

}

.btn-large {
  font-size: 24px;
}


.link-cta {
  font: $reg 21px/1em $slab;

  @include bp-min-width($large) {
    font-size: 30px;
  }
}