
[class*="icon-"] {
  display: inline-block;
  background: $sprite-png no-repeat;
  background: $sprite no-repeat;
}

.icon-arrow {
  width: 29px;
  height: 28px;
  background-position: 0 -38px;
}

.icon-impact {
  width: 127px;
  height: 127px;
  background-position: 0 -159px;
}


/** SOCIAL ICONS =========**/

[class*="icon-social-lg"] {
  width: 49px;
  height: 49px;
  background-position: 0 -67px;
  
  &[class*="-facebook"] {
    background-position: -60px -67px;
  }

  &[class*="-youtube"] {
    background-position: -118px -67px;
  }

  &[class*="-flickr"] {
    background-position: -177px -67px;
  }
}

[class*="icon-social-sm"] {
  width: 38px;
  height: 38px;
  background-position: 0 -119px;

  &[class*="-facebook"] {
    background-position: -45px -119px;
  }

  &[class*="-youtube"] {
    background-position: -90px -119px;
  }

  &[class*="-flickr"] {
    background-position: -136px -119px;
  }
}
