
[class*="icon-"] {
  display: inline-block;
  background: $sprite-png no-repeat;
  background: $sprite no-repeat;
}

[class*="icon-social-"] {
  width: 49px;
  height: 49px;
  background-position: 0 -67px;
}

.icon-social-facebook {
  background-position: -60px -67px;
}

.icon-social-youtube {
  background-position: -118px -67px;
}

.icon-social-flickr {
  background-position: -177px -67px;
}

.icon-arrow {
  width: 29px;
  height: 28px;
  background-position: 0 -38px;
}

.icon-impact {
  width: 127px;
  height: 127px;
  background-position: 0 -118px;
}