@mixin cf {
  &:before, &:after {
    content: " ";
    display: block;
  }
  &:after {
    clear: both;
  }
  *zoom:1;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);    
  transform: translate(-50%, -50%);    
}

@mixin border-bottom-dash() {
  border-bottom: 2px dashed $grey;
}

@mixin border-right-dash() {
  border-right: 2px dashed $grey;
}

