
/**========================================================
    HERO
========================================================**/

.hero {
  text-align: center;
  color: #fff;
    
  .wrapper {
    padding: $base 0;
  
    @include bp-min-width($large) {
      padding: $base*2.5 0 $base*3;
    }
  }
  
  .title {
    margin-bottom: 12px;
    color: #fff;

    @include bp-min-width($large) {
      margin-bottom: $base;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  p {
    max-width: 680px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: $semi;
  }
}

.page-donate .hero {
  background: $blue $hero-donate no-repeat center center;
}

.page-get-involved .hero {
  background: $blue $hero-get-involved no-repeat center center;
}

.page-news .hero,
.page-post .hero {
  background: $blue $hero-news no-repeat center center;
}

.page-about .hero {
  background: $blue $hero-about no-repeat center center;
}

.page-our-impact .hero {
  background: $blue $hero-our-impact no-repeat center center;
}

.page-contact .hero {
  background: $blue $hero-contact no-repeat center center;
}

