
.hero {
  background: $blue;
  text-align: center;
  color: #fff;
  
  @include bp-min-width($medium) {
  }
  
  .wrapper {
    padding: $base 0;
  
    @include bp-min-width($medium) {
      padding: $base*2.5 0 $base*3;
    }
  }
  
  .title {
    margin-bottom: 12px;
    color: #fff;

    @include bp-min-width($medium) {
      margin-bottom: $base;
    }
  }
  
  p {
    max-width: 680px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: $semi;
  }
}