
.footer {
  @include cf;
  background: $navy;
  color: $grey;
  
  a {
    color: $grey;
  }
}

.footer-left {
  @include bp-max-width($medium) {
    margin-bottom: $base;
  }
  @include bp-min-width($medium) {
    float: left;
  }
}

.footer-nav {
  text-align: center;
  
  @include bp-min-width($medium) {
    float: left;
  }
}

.footer-nav li {
  text-align: center;

  @include bp-min-width($medium) {
    float: left;
    margin-right: 32px;
    font-size: 14px;
  }
}

.footer-nav a {
  display: block;
  padding: 4px 0;
  font-size: 14px;
  font-weight: $semi;
  text-transform: uppercase;
  
  &:hover {
    color: #fff;
  }
  
  @include bp-max-width($small) {
    display: inline-block;
    padding: 0;
  }
}


.footer-copyright {

  @include bp-min-width($medium) {
    float: left;
    clear: left;
  }
  
  p {
    font-size: 15px;
    text-align: center;
  }
}

.footer-right {
  text-align: center;

  @include bp-min-width($medium) {
    float: right;
  }
  
  img {
    width: 100px;
  }
}
