
.footer-social [class*="col-"] {
  margin-bottom: $base;
  padding-bottom: $base;
  border-bottom: 1px solid #fff;
  
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  @include bp-min-width($large) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.footer-social {
  background: $blue;
  color: #fff;
  
  .wrapper {
    padding: $base 0;
  }
  
  a {
    color: #fff;
    
    &:hover {
      color: $navy;
    }
  }
}

.footer-social .post-list .post {
  margin-bottom: 1em;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer-social .post-date {
  color: #fff;
}



.footer-social .follow-us {
  @include cf;
  
  li {
    float: left;
    margin-right: 12px;
  }
}