
.header {
  background: #fff;

  .wrapper {
    width: 100%;
    padding: 0.5em 0 0;

    @include bp-min-width($medium) {
      position: relative;
      padding: 0;
    }
  }
}

.logo {
  margin-bottom: 0.5em;
  text-align: center;
  
  @include bp-min-width($medium) {
    position: absolute;
    top: 0.5em;
    left: 0;
    z-index: 10;
  }
  
  img {
    max-width: 220px;

    @include bp-min-width($medium) {
      max-width: none;
    }
  }
}

.cta-btns {

  @include bp-min-width($medium) {
    float: right;
  }
}

.cta-btns li {
  float: left;
  width: 50%;
  
  @include bp-min-width($medium) {
    width: auto;
  }
}

.cta-btns a {
  display: block;
  padding: 1em 0 0.8em;
  background: $blue;
  color: #fff;
  font-family: $slab;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;

  @include bp-min-width($medium) {
    padding: 1em;
    font-size: 17px;
  }
  
  &.btn-join {
    background: $red;
  }
}
