
/**========================================================
    SIDEBAR
========================================================**/

.sidebar-left {
  background: $lt-blue;
  padding: 12px 4%;

  @include bp-min-width($medium) {
    padding: $base 3%;
  }

  @include bp-min-width($large) {
    position: absolute;
    top: $base*2;
    left: 0;
    width: 260px;
    margin: 0;
    padding: 0;
  }
}

.sidebar-left {
  .block {
    margin-bottom: 12px;
    padding: 12px 0;
    border-bottom: 2px dashed $grey;
  
    @include bp-min-width($large) {
      padding: 12px 20px;
    }
    
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }

  }
  
  .title {
    color: $navy;
  }
}

.side-menu {
  display: none;

  @include bp-min-width($large) {
    display: block;
  }
  
  ul {
    margin-left: -10px;
  }
  li {
    margin-bottom: 6px;
  }
  
  a {
    display: inline-block;
    padding: 2px 10px;
    background: $lt-blue;
    border-radius: 4px;
    color: $navy;
    font-weight: $bold;
    text-transform: uppercase;
    
    &:hover, &.active {
      background: $red;
      color: #fff;
    }
  }
}

.block-share {
  @include cf;
  li {
    float: left;
    margin-right: 12px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.block-media {
  .media-name {
    margin-bottom: 0.1em;
    color: $navy;
    font-size: 18px;
    font-weight: $bold;
  }
  
  .media-email {
    font-size: 16px;
  }
}

.block-join-battle p {
  font-size: 16px;
  line-height: 20px;
}