
.visit-store {
  background: $navy;
  
  .wrapper {
    padding-bottom: 0;

    @include bp-min-max-width($medium, $xlarge) {
      position: relative;
      padding-bottom: $base;
    }
  }
  
  .content-visit-store {
    margin-bottom: $base;

    @include bp-min-width($medium) {
      float: left;
      width: 100%;
      padding-right: 320px;
    }

    @include bp-min-width($xlarge) {
      width: 58%;
      padding-right: 0;
    }
  }

  .image-visit-store {
    width: 300px;
    margin: 0 auto;

    @include bp-min-max-width($medium, $xlarge) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @include bp-min-width($xlarge) {
      float: left;
      width: 42%;
    }
    
  }
  
  .title-section {
    color: $blue;
  }
  
  p {
    color: #fff;

    @include bp-min-width($medium) {
      padding-right: 5%;
    }

    @include bp-min-width($xlarge) {
      padding-right: 15%;
    }
  }
}
