
.page-home .hero {
  background: $blue $hero-home no-repeat center center;
  text-align: left;

  .wrapper {
    position: relative;
    padding: $base 0 0;
  }
  
  .hero-img {
    @include bp-min-width($large) {
      float: left;
      width: 50%;
      padding-top: 32px;
    }

    @include bp-min-width(1120px) {
      width: 63%;
      margin-left: -5%;
    }

  }  
  
  .hero-content {
    @include bp-min-width($large) {
      float: right;
      width: 50%;
      padding-top: $base;
    }

    @include bp-min-width(1120px) {
      width: 41.66%;
    }
  }

  .title {
    margin-bottom: 0.5em;
    font-size: 38px;

    @include bp-min-width(1120px) {
      font-size: 48px;
      line-height: 54px;
    }
  }  
  
  p {
    max-width: none;
    font-size: 15px;
  }

  p:first-of-type {
    margin-bottom: 1em;
  }
  
  .caption {
    font-size: 14px;
    line-height: 18px;
    font-style: italic;

    @include bp-min-width(1120px) {
      position: absolute;
      bottom: 1em;
      right: 0;
      width: 41.66%;
    }
  }
}

.dontate-bar {
  background: $red;
  color: #fff;
  
  .wrapper {
    position: relative;
    padding: $base 0;
  }
}

.donate-copy {
  @include bp-min-width($large) {
    margin-bottom: 0;
    padding-right: 300px;
    line-height: 28px;
    font-weight: $semi;
  }
}

.donate-btn {
  @include bp-min-width($large) {
    position: absolute;
    top: $base;
    right: 0;
  }
}

.home-intro,
.our-inspiration,
.join-craig,
.testimonials {
  @include border-bottom-dash;
  
}


/** WHAT'S NEW ===========**/

.whats-new {
  .title {
    margin-bottom: 0.5em;
    font-size: 32px;
  }
  
  .post-title {
    @include bp-min-width($large) {
      padding-right: 10%;
    }
  }
}


/** OUR IMPACT ===========**/

.our-impact {
  @include cf;
  
  .title {
    margin-bottom: 0.25em;

    @include bp-min-width($large) {
      font-size: 80px;
      line-height: 70px;
    }
    
    .our {
      @include bp-min-width($large) {
        display: block;
      }
    }
  }
  
  .content-wrap {
    position: relative;
    min-height: 127px;
  }

  .icon-impact {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .info {
    width: 100%;
    padding-left: 150px;
  }
    
  a {
    font-weight: $bold;
    border-bottom: 1px solid $red;
  }
}


/** OUR INSPIRATION ===========**/

.our-inspiration {

}


/** JOIN CRAIG ===========**/

.join-craig {}


/** TESTIMONIALS ===========**/

.testimonials {
  @include bp-min-width($large) {
    text-align: center;
  }
  
  .quote {
    font-size: 17px;
    font-style: italic;
  }
  
  .quote-name {
    margin-bottom: 0.25em;
    font-size: 19px;
    font-weight: $bold;
  }
  
  .quote-position {
    font-size: 15px;
  }
}


/** OUR PARTNERS ===========**/

.our-partners .logo-partner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 100% 0 0;
  background: #fff;
  border-radius: 50%;
  
  img {
    @include absolute-center;
    max-width: 80%;
  }
  
  &:after {}
}


